{% extends 'base.html' %}
{% block content %}
    <form class="homepage">
        <div class="container">
            <span>Register</span>
            <input type="text" placeholder="Username">
            <input type="text" placeholder="E-mail">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Password confirmation">
            <label>
                <input type="checkbox" value="remember"> Remember me
            </label>
            <button>Lets go</button>
            <div class="center">
                <a href="/login">Already have an account?</a>
            </div>
        </div>
    </form>
{% endblock %}