@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #2b2b2b;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.navbar {
    background: #3577e0;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.navbar-inner {
    display: flex;
}

.navbar-menu {
    margin: 0;
    padding: 0;
    display: inline-flex;
    height: 50px;
}

.navbar-menu li, .navbar-menu a {
    display: inline-flex;
    height: 50px;
}

.navbar-menu-right {
    margin-left: auto;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background: #3577e0;
    transition: background 0.1s ease-in;
}

.navbar-menu a:hover {
    background-color: #1e5ec4;
}

.navbar-logo {
    font-weight: 500;
    text-transform: uppercase;
}

.footer {
    background-color: #fff;
    padding: 2px 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
}

.footer-menu {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.footer-menu li, .footer-menu a, .footer-menu span {
    display: inline-flex;
}

.footer-menu-right {
    margin-left: auto;
}

.footer-menu span, .footer-menu a {
    color: #777;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
}

.footer-menu a {
    text-decoration: none;
    transition: color 0.1s ease-in;
}

.footer-menu a:hover {
    color: #3577e0;
}

.content {
    flex-grow: 1;
    padding: 0 20px;
    width: 100%;
}

.content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 0 0 20px;
}

.card-small {
    width: 400px;
    max-width: 100%;
}

input {
    display: inline-flex;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 15px;
}

input[type=text] {
    background-color: white;
    border: 1px solid #dedede;
    color: gray;
    transition: border-color 0.1s ease-in;
}

input[type=text]:focus, input[type=text]:active {
    border-color: #3577e0;
    outline: 1px solid #3577e0;
}

input[type=submit] {
    color: #fff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: #3577e0;
    border: 1px solid #3577e0;
    transition: background 0.1s ease-in;
}

input[type=submit]:hover {
    background-color: #1e5ec4;
}

.create-link-text {
    text-align: center;
    margin-bottom: 15px;
}

.create-link input {
    width: 100%;
    margin-bottom: 15px;
}

.create-link input:last-child {
    margin-bottom: 0;
}

.login-text {
    text-align: center;
    margin-bottom: 15px;
}

.login input {
    width: 100%;
    margin-bottom: 15px;
}

.login-link {
    display: block;
    text-align: center;
    text-decoration: none;
    transition: color 0.1s ease-in;
}

.login-link:hover {
    color: #1e5ec4;
}